:root {
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	max-width: 30rem;
	margin: 1rem auto;
	border: 1px solid grey;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: unset;
}

h3 {
	margin: 0.2em 0;
	font-weight: 600;
}

#exampleElement {
	padding: 10px 20px;
	margin: 2em 0.5em 1em;
	font-size: 12px;
	border: 1px dashed red;
	border-right-width: 5px;
}
