:root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	max-width: 30rem;
	margin: 1rem auto;
	border: 1px solid grey;
}

fieldset {
	display: flex;
	flex-direction: column;
	border: unset;
}

h3 {
	margin: 0.2em 0;
	font-weight: 600;
}
